.admin{
  width: 100%;
  height: 100%;
  display: flex;
}
.admin_menu{
  width: 16%;
  height: 100vh ;
  background-color: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 20px 0px;
  position: fixed;
  margin: 0px 2px;
  border-right: 1px solid rgb(229 231 235 )
}
.admin_display{
  padding-left: 15%;
  width: 100%;
  height: 100%;
  background-color: #e5e7eb;
}
.admin_menu ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px 10px;
  width: 100%;
}
.admin_menu ul li{
  font-size: 13px;
  padding: 0px 15px;
  margin: 5px 0px;
  padding-right: 15px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all 0.2s;
  width: 100%;
  color: rgb(75 85 99);
  font-weight: 500;
}
.admin_menu_body ul li a{
  display: flex;
  align-items: center;
}
.drop1 li{
  margin-top: 0px !important;

}
.admin_menu ul li:hover{
  margin-left: 10px;
  transition: all 0.2s;
  background-color: #f3f4f6;
  border-radius: 10px;
  width: 95%;
}
.admin_menu ul li .active-link {
  background-color: #f3f4f6; /* light background */
  color: #27375d;            /* dark text for contrast */
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left:15px;
  width: 105%;
  height: 35px;
}
.admin_menu a{
  text-decoration: none;
  color: inherit;
}

.drop1{
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
.drop1 li img{
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.admin_menu_head-img{
  border: 2px solid gainsboro;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
}
.admin_menu_head-img img{
  width: 100%;
  height: 100%;
}
.admin_menu_head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.admin_menu_head h5{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #004054;
}
.admin_menu_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 90%;
}

.logout_list {
  list-style: none;
  padding: 10px 20%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  /* margin-top: auto; */
  width: 100%;
  margin-bottom: 20px;
}

.logout_list li {
  color: #ff4d4f;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout_list li:hover {
  opacity: 0.8;
  margin-left: 5px;
}
.admin_menu ul li .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* or adjust as needed */
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.noqu-logo {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 4px solid #ccc;
  padding: 10px;
}


.admin_menuu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



